<div id="nav">
  <ul>
    <li><a [routerLink]="['/']" routerLinkActive="active">Increment</a></li>
    <li><a [routerLink]="'/lab4'">lab ng-for odd-even</a></li>
    <li><a [routerLink]="['/home']">component diagram</a></li>
    <li><a [routerLink]="['/todo']">Basic tasks</a></li>
    <li><a [routerLink]="['/swiftviews']">SwiftViews copy</a></li>
    <li><a [routerLink]="['/page']">Products</a></li>
    <li><a [routerLink]="['/todo2']">Improved tasks</a></li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>
