<div id="header">
  <div id="nav">
    <img src="../../../assets/puffin-white.png" alt="" />
  </div>
  <div id="content">
    <p>We are a community based help service!</p>
    <p>
      Our product solves the problem with the lack of fast, context-specific and
      most importantly - untampered help out there.
    </p>
    <p>
      We solve that problem for our users by providing them an instant and
      specific help from people that may have already walked the same path and
      bought the same product.
    </p>
    <p>
      So next time, when you visit a site and you can't find a review or an
      answer that satisfies your information needs, you can open up our chat
      widget and ask a non-formal question to one of our <br />helpers.
    </p>

    <div class="row">
      <button>TRY IT FREE</button>
    </div>
    <form action="">
      <span>
        <input
          type="text"
          placeholder="Search for any product you need help for..."
        />
      </span>
    </form>
  </div>
</div>
